<div class="container all-bids">
  {{#if refresh}}
    {{g-maps name="bidmap" click='placeMarker' lat=lat lng=lng zoom=zoom markers=postedMarkers markers=allMarkers}}
  {{/if}}
  {{md-btn action='showMap' text='Show Bid Map'}}

</div>
