<h3>Let's make you a Bidder Profile!</h3>
<form>
  {{md-input value=firstName label="First Name" class="col s4 validate=true"}}
  {{md-input value=lastName label="Last Name" class="col s4 validate=true"}}
  {{md-input value=phone label="Contact Number" class="col s4 validate=true"}}
</form>
