@import 'materialize';
@import 'ember-cli-materialize';
@import "base/variables";
@import "base/nav";
@import "base/buttons";
@import "base/header";
@import "layout/index";
@import "layout/footer";
@import "layout/profile";
@import "layout/bid-display";
@import "layout/allBids";
@import "layout/about";
@import "layout/update-profile";


*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.carousel-item img {
  width: 100%;

}

.ember-cli-g-map {
  height: 400px;
}

.single-bid {
  .single-bidmap {
    width: 400px;
    height: 300px;
  }
  .map-circle {
    align-self: right;
    width: 100px;
    height: 100px;
    background-color: blue;
  }
}

.inactive {
  color: red;
}

.padding-map {
  margin-bottom: 100px;
}
