.nav-wrapper {
  background-color: $nav-bg-color;
  .brand-logo {
    color: $primary-color;
    font-family: $nav-font;
  }
  .ember-view {
    color: $primary-color;
    font-family: $nav-font;
  }
  .topLink:hover {
    a {
      background-color: $primary-color;
      color: white;

    }
  }
}

.topLink {
  a {
    color: $primary-color;
  }
}

.login {
  a {
    color: $primary-color;

  }
}
