.nav-wrapper {
  background-color: $nav-bg-color;
  .brand-logo {
    color: $primary-color;
    font-family: $nav-font;
  }
  .ember-view {
    color: $primary-color;
    font-family: $nav-font;
  }
  li {
    border-radius: 15px;
    // background-color: pink;
  }
  a {
    color: $primary-color;
    border-radius: 15px;

  }
  a:hover {
    color: rgba(0, 0, 0, 0.4);;
    border-radius: 15px;
    text-shadow: 1px 1px rgba(51, 51, 51, 0.7);
  }
}

.login {
  a {
    color: $primary-color;

  }
}
