


.bid-display-bg {
  background-image: url("/img/vehicle-repair-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.padding {
  // max-width: 700px;
  padding-bottom: 30px;
  // height: 700px;
  background-color: rgba(255, 255, 255, .7);
  padding-top: 80px;
  border: 2px black solid;
  border-radius: 10px;
  text-align: center;
  font-family: $nav-font;
  color: rga(51, 51, 51);
  h5 {
    font-size: 30px;
    font-weight: 300;
    text-shadow: 1px 1px gray;
  }
  h6 {
    font-size: 21px;
    font-weight: 300;
  }
  a {
    margin-top: 50px;
  }
}

.bid-description {
  padding-top: 30px;
  margin: 0 auto;
}

.inner-bid-description {
  margin: 0 auto;
}

.column-wrap {
  // height: 500px;
  // max-width: 1300px;
  text-align:center;
  margin: 0 auto;
  margin-bottom: 50px;
  .inner-col {
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
  }
}


.box-1 {
  // width: 700px;
  // height: 700px;
  margin: 0 auto;
  // margin-bottom: 50px;
}

.box-2 {
  // width: 400px;
  // height: 400px;
  margin: 0 auto;
}

.header-discription {
  h1 {
    color: $nav-bg-color;
    font-family: $nav-font;
    font-weight: 300;
    padding-top: 40px;
    text-shadow: 3px 3px rgb(51, 51, 51);
    text-transform: uppercase;
  }
}



.map-circle {
  position: absolute;
  background-color: lightblue;
  width: 300px;
  height: 300px;
  right: 100px;
  z-index: 6;
  border-radius: 150px;
  top: 330px;
  opacity: 0.5;
  border-color: blue;
  border-width: thick;
}
