
  .footer-lower {
    text-align: center;
    height: 90px;
    background-color: rgb(51, 51, 51);
    font-family: $nav-font;
    font-weight: 300;
    color: $nav-bg-color;
    span {
      color: $primary-color;
    }
    .foot-padding {
      padding-top: 10px;
    }
  }

  .social-media {
    i {
      padding-top: 0;
    }
  }

  .contact {
    font-size: 10px;
  }
