.hero-image {
  background-image: url("/img/laundry-bg.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-heading {
  color: white;
  text-align: center;
  text-shadow: 1px 1px black;
  padding-top: 22%;
}

.info-row {
text-align: center;
height: 30em;
}

.lighten-2 {
  height: 400px;
}


.parallax-img1 {
  position: relative;
}

.hero-text {
  position: absolute;
  padding-top: 300px;
  padding-left: 45%;
  h2 {
    color: white;
    text-shadow: 2px 2px rgb(51, 51, 51);
  }
}

.col {
  text-align: center;
  h3
  {
    color: rgb(51, 51, 51);;
    font-weight: 300;
  }
  p {
    font-family:'Open Sans', sans-serif;
    font-size: 21px;
    color: rgb(51, 51, 51);;
    font-weight: 300;
  }
  i {
    padding-top: 40px;
    color: rgb(51, 51, 51);;
    font-weight: 300;
  }
}






//
// @media (max-width: 2088px) {
//     .hero-image {
//       height: 900px;
//       width: 100%;
//     }
// }
// @media (max-width: 1950px) {
//     .hero-image {
//       height: 820px;
//       width: 100%;
//     }
// }
//
// @media (max-width: 1450px) {
//     .hero-image {
//       height: 700px;
//       width: 100%;
//     }
// }
// @media (max-width: 1400px) {
//     .hero-image {
//
//     }
// }
