.hero {
  min-height: 536px;
}

.hero-text {
  // position: absolute;
  padding-top: 150px;

  h2, h3, h4, h5 {
    color: white;
    text-shadow: 2px 2px rgb(51, 51, 51);
    padding-bottom: 50px;
  }
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url(/img/gardening-bg.png);
}

.info-row {
text-align: center;
height: 30em;
}

.lighten-2 {
  height: 400px;
}


.parallax-img1 {
  position: relative;
}


.col {
  text-align: center;
  h3
  {
    color: rgb(51, 51, 51);;
    font-weight: 300;
  }
  p {
    font-family:'Open Sans', sans-serif;
    font-size: 21px;
    color: rgb(51, 51, 51);;
    font-weight: 300;
  }
  i {
    padding-top: 40px;
    color: rgb(51, 51, 51);;
    font-weight: 300;
  }
}

@media (max-width: 695px) {
  .col {
    p {
      font-size: 16px;
    }
  }
}

.setWidth {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hoverEffect img {
  width: 500px;
  height: 200px;
  margin: 0 auto;
  margin-top:60px;



  -webkit-transition: all .5s ease;
   -moz-transition: all .5s ease;
     -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
        transition: all .5s ease;
    img {
      margin-top:50px;
      margin-bottom:50px;
    }
}

.hoverEffect {
  img:hover {
    border: solid 3px $primary-color;
  }
}

.wwd-statement{
  max-width: 600px;
  margin: 0 auto;
  h5 {
    color: $primary-color;
    font-weight: 300;
  }
  p {
    font-size: 20px;
    color: gray;
  }
}

.whatWeDo-title {
  h3 {
  color: rgb(51, 51, 51);
  font-weight: 300;

  }
  margin: 0 auto;
  text-align: center;
}

.grey-heading {
  padding: 0;
}

.second-parallax-mid {
  max-width: 1600px;
  margin: 0 auto;
}
