.hero {
  height: 500px;
}

.hero-text {
  // position: absolute;
  padding-top: 150px;

  h2, h3, h4, h5 {
    color: white;
    text-shadow: 2px 2px rgb(51, 51, 51);
    padding-bottom: 50px;
  }
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url(/img/laundry-bg.png);
}

.info-row {
text-align: center;
height: 30em;
}

.lighten-2 {
  height: 400px;
}


.parallax-img1 {
  position: relative;
}


.col {
  text-align: center;
  h3
  {
    color: rgb(51, 51, 51);;
    font-weight: 300;
  }
  p {
    font-family:'Open Sans', sans-serif;
    font-size: 21px;
    color: rgb(51, 51, 51);;
    font-weight: 300;
  }
  i {
    padding-top: 40px;
    color: rgb(51, 51, 51);;
    font-weight: 300;
  }
}

@media (max-width: 695px) {
  .col {
    p {
      font-size: 16px;
    }
  }
}

.setWidth {
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.imageLink1 {
  width: 400px;
  height: 160px;
  margin: 0 auto;
  margin-top:50px;
  margin-bottom:50px;
}

.imageLink2 {
  width: 400px;
  height: 160px;
  margin: 0 auto;
  margin-top:50px;
  margin-bottom:50px;
}
