.new-bid {
  opacity: 1;
  .tabs {
    a {
      color: $primary-color;
      // text-shadow: 1px 1px 1px lighten($primary-color, 1);;
      font-weight: bold;
      border-radius: 15px;
    }
    a:hover {
      background-color: $primary-color;
      color: white;
      text-shadow: 1px 1px 1px black;
    },
    a:active {
      background-color: white;
    }
    a:selected {
      background-color: green;
    }
    .indicator {
      background-color: $primary-color;
    }
    .input-field label {
      color: $primary-color;
    }

  }
}
