.hero-profile {
  min-height: 650px;
}

.hero-text-profile {
  // position: absolute;
  padding-top: 150px;

  h1, h2, h3, h4, h5 {
    color: white;
    text-shadow: 2px 2px rgb(51, 51, 51);
    padding-bottom: 50px;
  }
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-1 {
  background-image: url(/img/post-bid-bg.png);
}
