
.page-header {
  padding-top: 20px;
}

.hero-text-profile {
  position: absolute;
  top: 140px;
  left: 45px;
  h1, h2, h3, h4, h5 {
    color: white;
    text-shadow: 2px 2px rgb(51, 51, 51);
    padding-bottom: 20px;
  }
}

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax-2 {
  background-image: url(/img/post-bid-bg.png);
}

.bidder-bids h4 {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 0px;
}
