<!-- {{outlet}} -->

<div class="hero about-hero">
  <h2>About Bidder</h2>
  </div>
  <div class="set-width-about">


  <div class="row about-first">
    <div class="col s12 about-first">
      <h2>Everybody is great at something.</h2>
      <p>But no mortal human is great at everything.</p>
      <br>
      <p>Bidder was created to bridge the gap between people who need help, and people who have help to give. Built on the idea that we should get to define our own prices for services we need, Bidder connects you with people in your own community that are willing to work with you by your own means.</p>
      <p>Rather than having to search through expensive fix alternatives, Bidder allows you to post your odd job and wait for help to come to you.</p>
    </div>
  </div>

  <div class="row about-second">
    <div class="col s6 get-money">
      <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
      <h4>You want your job done reliably,</h4>
      <h4>and you know what you're willing to pay for it.</h4>
      <p>
        Bidder allows you to post your odd job and get a quick response from skilled, registered Jobbers. Post a bid now.
      </p>

    </div>
      <div class="col s6 get-money">
      <i class="fa fa-money" aria-hidden="true"></i>
      <h4>You're looking for some quick cash, </h4>
      <h4>and you've got the skills to help your community.</h4>
      <p>
        With Bidder, you can connect with those that need help from good workers like you. Browse bids and become a jobber now.
      </p>
    </div>
  </div>
</div>

<div class="row goteam">
  <div class="col s12 about-pic"><h2>OUR TEAM</h2></div>
  <div class="col s3 about-pic"><img src="img/jackson.jpg" alt="" /></div>
  <div class="col s3 about-pic"><img src="img/daren.jpeg" alt="" /></div>
  <div class="col s3 about-pic"><img src="img/jordan.jpeg" alt="" /></div>
  <div class="col s3 about-pic"><img src="img/lindsey.jpg" alt="" /></div>

</div>

<div class="row footer-upper">
  <div class="col s4">
    <p>CONTACT US</p>
    <p class="contact">info@bidder.com</p>

  </div>
  <div class="col s4">
    <p>SOCIAL MEDIA</p>
    <p class="social-media"><i class="fa fa-facebook-official" aria-hidden="true"></i> <i class="fa fa-twitter" aria-hidden="true"></i> <i class="fa fa-github-alt" aria-hidden="true"></i> <i class="fa fa-instagram" aria-hidden="true"></i></p>
  </div>
  <div class="col s4">
    <p>HOME</p>
    {{#link-to 'index'}}GO HOME{{/link-to}}
  </div>

</div>
