
<div class="all-bids-wrapper">
  <div class="container">
    <div class="all-bid-title">
      <h1>ALL BIDS</h1>
      <h4>{{log model}}</h4>
    </div>
    {{#each model.bids as |bid|}}
      {{bid-tile bid=bid}}
    {{/each}}
  </div>
  {{all-bids-map bids=model.bids postedMarkers=model.postedMarkers}}
</div>
