{{#each model.bids as |bid|}}
  {{bid-tile bid=bid}}
{{/each}}
<ul>

{{#each model.postedMarkers as |marker|}}
  <li>marker lat: {{marker.lat}}</li>
  <li>marker lng: {{marker.lng}}</li>
{{/each}}
</ul>
{{all-bids-map bids=model.bids postedMarkers=model.postedMarkers}}
