<div class="container-fluid">
    {{partial 'navbar'}}
    <div class="container-fluid">
    {{outlet}}
    <footer class="footer-lower">
      <p class="foot-padding">Bidder was created at <span>Epicodus</span> by Jackson Cafazzo, Jordan Meier, Daren Schaad, Lindsey Raffa, Brooke Hurford, Jessica Fix, and Taylor Pokoj.</p>
      <p>Bidder | All Rights Reserved | Copyright 2016</p>
    </footer>
    </div>
</div>
