<div class="container-fluid">
    {{navbar-display session=session loginTwitter='loginTwitter' loginFacebook='loginFacebook' logout='logout' accessDenied='accessDenied'}}
    <div class="container-fluid">
    {{outlet}}
    <footer class="footer-lower">
      <p class="foot-padding"><a href="http://jacksoncafazzo.github.io/Bidder">Bidder</a> was originally created at <span>Epicodus</span> by Brooke Hurford, Jessica Fix, Jackson Cafazzo and Taylor Pokoj.</p>
      <p>
        This generation of Bidder was refactored by Jackson Cafazzo, Jordan Meier, Daren Schaad, Lindsey Raffa.
      </p>
      <div class="footer-links">
        <a href="/about">Read more about the creators</a>      <a href="https://github.com/jacksoncafazzo/bidder0.22-ember">View Repository on Github</a>
      </div>
      <p>Bidder | All Rights Reserved | Copyright 2016</p>
    </footer>
  </div>
</div>
