<!-- {{log model.user.bidder}} -->
<div class="container">
<<<<<<< HEAD

{{bidder-profile bidder=model.user.bidder}}


=======
  {{bidder-profile bidder=model.user.bidder}}
  {{new-bid postBid='postBid' bidder=model}}
>>>>>>> master
</div>
