
{{bidder-profile bidder=model}}


<div class='panel panel-default'>
    <div class='panel-heading'><h5>Create a bid, yo</h5>
      {{new-bid postBid='postBid' bidder=model}}
    </div>
    <div class='panel-body'>
      {{bid-map }}
    </div>
</div>
