{{#if session.isAuthenticated}}
  Welcome, <div id="email"> {{session.currentUser.email}}</div>
  {{bid-map }}
{{else}}
  <h4>Welcome to Bidder!</h4>
  New user? <a href='sign-up' class='btn'>Sign Up</a>
{{/if}}
