<div class='page-header'>
    <h5>Welcome, you are authenticated!</h5>
</div>
<div class='panel panel-default'>
    <div class='panel-heading'>{{session.currentUser.email}}</div>
    <div class='panel-body'>
        <img src='{{session.currentUser.profileImageURL}}' />
    </div>
</div>

{{new-profile}}
